@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Raleway');

@media print {
  .page {
    page-break-after: always;
  }
}

.limerick {
  font-family: "Lobster Two";
  font-size: 21px;
  line-height: 1.6;

  position: relative;
  margin: 2em auto;
  width: 50%;
  
  text-shadow:  1px  1px 1px white,
                1px -1px 1px white,
               -1px  1px 1px white,
               -1px -1px 1px white;
  
  a[title] {
    color: inherit;
    text-decoration: none;
    position: relative;
    
    &:before,
    &:after {
      position: absolute;
      margin-top: 1.7rem;
      z-index: -1;
      border-color: #ccc;
      border-style: dashed;
      border-width: 0;
    }
    
    &:before {
      content: "";
      width: 100%;
      border-bottom-width: 1px;
    }
    
    &:after {
      width: 20vw;
      display: inline-block;
      
      border-left-width: 1px;
      padding-left: 0.4em;
      padding-top: 1.4 * 8em;

      // side note
      content: attr(title);
      
      font-family: Raleway;
      font-size: 14px;
    }
    
    &:hover:after {
      opacity: 1;
    }
  }
}
