<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="style.css"/>
</head>
<body>
  <header class="page title-page">
    <h1>{{title}}</h1>
    <p class="author">{{author}}</p>
  </header>
   {{#each limericks as |limerick|}}
      <article class="page limerick">
        {{{limerick}}}
      </article>
   {{/each}}
</body>
</html>